.btnOrder {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #edc84b;
  padding: 1.4rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
}
.btnOrder.btnOrder-disabled{
  color: grey;
  opacity: .8;
}

.btnOrder:hover {
  background-color: #e9bb24;
  transform: scale(1.1);
  transition-delay: .2s;
  transition: all .25s linear;
}