
.pizza__left{
  position: relative;
  .likeIcon{
    margin: .2rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 5px;
    &:hover{
      color:grey;
      transition: all .2s linear;
    }
    &.like{
      &:hover{
        transform: scale(1.1);
      }
    }
    /*z-index: 1;*/
  }
  
}