@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*transition: all .2s linear;*/
}
.map-container {
  height: 400px;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
#marker {
  background-image: url('https://t4.ftcdn.net/jpg/05/29/74/05/240_F_529740584_1NUibxPP3I6u73H2TZJbpeYLzdSrBZFx.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Comfortaa", sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  min-height: 100vh;
  /*padding: 5rem 0;*/
  padding-bottom: 0;
  font-size: 16px;
}
a{
  color:unset;
  text-decoration: none;
  position: relative;
}

/* underline transition*/
.underline1{
  &::after{
    content: "";
    position: absolute;
    visibility: hidden;
    bottom: -2px;
    width: 1px;
    left: -1px;
    border: 1px solid;
    border-color: black;
    transition: all .3s linear;
  }
  &:hover::after{
    visibility: visible;
    width: 100%;
  }
}

.icon{
  width: 3rem;
  height: 3rem;
  &:hover{
    cursor: pointer;
  }
}

.icon-medium{
  width: 2rem;
  height: 2rem;
  &:hover{
    cursor: pointer;
  }
}

.container {
  position: relative;
  max-width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /*border-bottom: 1.6rem solid #edc84b;*/
}

.line{
  border: 1px solid grey;
  width: 100%;
  margin: 4rem 0;
}

/* *************** */


.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.title {
  display: inline-block;
  width: fit-content;
  padding: 1rem 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.menu > p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  width: 80%;
}

.pizzas {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.pizza {
  display: flex;
  gap: 3.2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  &:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.25s linear;
  }
}

.pizza img {
  width: 15rem;
  aspect-ratio: 1;
  align-self: start;
  object-fit: cover;
  border-radius: 5px;
}

.pizza div {
  /*display: flex;
  flex-direction: column;
  gap: 0.8rem;*/
}

.pizza h3 {
  font-size: 2rem;
  font-weight: 400;
}

.pizza p {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: auto;
}

.pizza span {
  display: block;
  font-size: 1.6rem;
}

.pizza.sold-out {
  color: #888;
}

.pizza.sold-out img {
  filter: grayscale();
  opacity: 0.8;
}

/* *************** */

.footer {
  font-size: 1.4rem;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}



/* Loading container */
.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 100;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #edc84b transparent #edc84b transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.map-custom .mapboxgl-popup-content{
  color: #000;
}
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
